<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <h1>Single</h1>
    <ul>
        <li><a href="/">back</a></li>
    </ul>

    <div>
        <p><%= cart.title %></p>
    </div>
    <div>
        <p><%= cart.notes %></p>
    </div>
</body>

</html>